.botao-padrao{
    background-color: rgb(167, 230, 233);
    margin: 5px;
    padding: 6px 10px; 
    border-radius: 10px; 
    border-style: groove;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: block;
    cursor: pointer;
    
}
.caixa-botao{
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* 4 colunas iguais */
  gap: 8px;   
}
@media (max-width: 500px) {
    .caixa-botao{
        grid-template-columns: repeat(3, 1fr);  /* 3 colunas em vez de 5, caso a tela seja menor igual a 500px */
    }
}
.Caixa-retangular{
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border-color: rgb(185, 123, 29);
    border-style: groove;
    width: 90%;         /* ocupa 90% da tela disponível, adapta sozinho */
    max-width: 500px;   /* mas nunca passa de 500px em telas grandes */
    box-sizing: border-box;  /* padding não estoura a largura total */



}
.barra-padrao{
        background-color: rgb(167, 230, 233);
    margin: 5px auto;
    padding: 10px 20px; /* Aumentando o tamanho   */
    border-radius: 8px; /* Aumentando o tamanho   */
    
    text-align: center;
    cursor: pointer;
    text-decoration: none; /*tira o sublinhado*/
    color: inherit; /* tirando o azul */
    display: block; /* alinhando pois inline por padrao nao respeita margin nem padding*/
    width: 90%;
    max-width: 380px;
    box-sizing: border-box;

}
main {
    flex: 1;   /* faz o <main> "esticar" e ocupar todo espaço sobrando */
}
body{
    background-image: url("./PapelParedePI.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; /* preenccher*/
    padding: 0;
    margin: 0;
    text-align: center;
     min-height: 100vh;      /* garante que o body ocupa NO MÍNIMO a altura da tela toda */
    display: flex;
    flex-direction: column; /* empilha header, main, footer verticalmente */
}
.pagina-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* deixando alinhado */
section p{
    text-align: justify;
}


.espaco-header{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*quebrando link caso nao couber lado a lado */
    max-width: 100%;
}
header{
    background-color: rgb(202, 245, 255);
   
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex; 
    align-items: center; /* Centraliza o logo verticalmente */
    justify-content: flex-start; /* Garante que fique na esquerda */
   
    
    
}
@media (max-width: 500px) {
    header {
        justify-content: center;  /*ficando centralizado para telas pequenas*/
    }
}
@media (max-width: 500px) {
    .espaco-header {
        justify-content: center;   /* ficando centralizaod para telas pequenas */
        
    }
}


.nome-site{
    border-style: groove;
    border-color: rgb(92, 92, 205);
    padding: 10px 2px;
    width: 290px;
    border-radius: 20px;
    text-align: center;
    
    color: rgb(92, 92, 205)
}   

.nome-site-clicavel{
   
    cursor: pointer;
    text-decoration: none; /*tira o sublinhado*/
    color: inherit; /* tirando o azul */
    display: block; /* alinhando pois inline por padrao nao respeita margin nem padding*/
     border-style: groove;
    border-color: rgb(92, 92, 205);
    padding: 10px 2px;
    width: 290px;
    border-radius: 20px;
    text-align: center;
    
    color: rgb(92, 92, 205)

}
.placeholder{
    opacity: 0.5;
    color: rgb(0, 0, 0);
}
.display{
    border-radius: 8px;
    border-color:  rgb(202, 245, 255);
    border-style: groove;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 5px;
    margin: 5px ;
}
footer{
    background-color: rgb(202, 245, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
footer a {
    color: rgb(92, 92, 205);  
    text-decoration: none;      /*Tirando o sublinhado dos links */
}